<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <style>
    #tabella1 td
    {
      color: blue;
    }

    #tabella2 td
    {
      color: red;
    }

    /*quando eseguo l'azione hover sul target */
    td:hover
    {
      background-color: yellow;
    }

    input:focus
    {
      width: 500px;
      height: 100px;
      background-color: fuchsia;
    }
  </style>
</head>
<body>
<input />
<h2>TABELLA 1</h2>
  <table id="tabella1">
    <tr >
      <th>Col 1</th>
      <th>Col 2</th>
    </tr>
    <tr>
      <td>Val 1</td>
      <td>Val 2</td>
    </tr>
    <tr>
      <td>Val 3</td>
      <td>Val 4</td>
    </tr>
    <tr>
      <td>Val 5</td>
      <td>Val 6</td>
    </tr>
  </table>
  <br/>
  <br/>
<h2>TABELLA 2</h2>
<table id="tabella2">
  <tr>
    <th>Col 1</th>
    <th>Col 2</th>
  </tr>
  <tr>
    <td>Val 1</td>
    <td>Val 2</td>
  </tr>
  <tr>
    <td>Val 3</td>
    <td>Val 4</td>
  </tr>
  <tr>
    <td>Val 5</td>
    <td>Val 6</td>
  </tr>
</table>

</body>
</html>