<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PgList</title>
</head>
<body>
    <h1>LISTA DI PERSONAGGI</h1>
    <table border="1">
        <tr> <!--Table row, una riga -->
            <th> </th> <!--Table header,nome della colonna -->
            <th>Id</th> <!--Table header,nome della colonna -->
            <th>Nickname</th>
            <th>Classe</th>
            <th>Razza</th>
            <th>Allineamento</th>
            <th>Età</th>
        </tr>
       <tr th:each="p : ${pgs}">
            <td>
                <a th:href="@{/pgDetail(id=${p.id})}"><!-- il tuo url è /pgDetail?id=3 -->
                    <img width="64" height="64" th:src="${p.avatarUrl}" />
                </a>
            </td>
            <td th:text="${p.id}"></td>
            <td th:text="${p.nickname}"></td>
            <td th:text="${p.pgClass}"></td>
            <td th:text="${p.race}"></td>
            <td th:text="${p.alignment}"></td>
            <td th:text="${p.getAge()}"></td>
        </tr>
    </table>
</body>
</html>